@font-face {
	font-family: 'Blender Pro';
	src: url('/fonts/BlenderPro/BlenderPro-Medium.woff2') format('woff2'),
		url('/fonts/BlenderPro/BlenderPro-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Blender Pro';
	src: url('/fonts/BlenderPro/BlenderPro-Bold.woff2') format('woff2'),
		url('/fonts/BlenderPro/BlenderPro-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
